
body {
    padding-bottom: 20px;
    padding-top: 20px;
	font-family: 'Roboto','Futura',sans-serif;
}
.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.header h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
}
.footer {
    border-top-color: #E5E5E5;
    border-top-style: solid;
    border-top-width: 1px;
    color: #777777;
    padding-top: 19px;
}
@media (min-width: 768px) {
.container {
    max-width: 1170px;
}
}
.container-narrow > hr {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
}
.jumbotron {
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
	background-color:transparent;
}
.jumbotron h1 , h2, h3, h4{
	font-family: 'Roboto','Futura',sans-serif;
	font-weight:700;
	color:#2C3E50;
	
}
blockquote.style1  {
	border-color: #5CB85C;
}
blockquote.style2 {
	border-color:#F0AD4E;
}
blockquote.style3 {
	border-color:#5BC0DE;
}

.jumbotron h1 {
	font-size: 75px;
}
.jumbotron h2 {
	font-size: 65px;
}
.jumbotron h3 {
	font-size: 55px;
}
.jumbotron h4 {
	font-size: 45px;
}
.jumbotron .btn {
    font-size: 21px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
}
.marketing {
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
}
.marketing p + h4 {
    margin-top: 28px;
}
@media screen and (min-width: 768px) {
.header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
}
.header {
    margin-bottom: 30px;
}
.jumbotron {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
}
}

.marketing {
    padding-left: 15px;
    padding-right: 15px;
}
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}
.featurette-divider {
    margin-bottom: 80px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 80px;
}
.featurette-heading {
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
}
@media (min-width: 768px) {
.marketing {
    padding-left: 0;
    padding-right: 0;
}

.featurette-heading {
    font-size: 50px;
}
}
@media (min-width: 992px) {
.featurette-heading {
    margin-top: 120px;
}
}
